<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body class="text-center">
  <h1 class="display-4">Contactez-nous</h1>
  <hr><br/>
  <ul class="list-group">
    <li class="list-group-item">Fleur Himmler</li>
    <li class="list-group-item">Mathieu Farge</li>
    <li class="list-group-item">Jonas Audia</li>
  </ul>
</body>
</html>
