<h1 class="display-4 text-center">Login</h1>
<br/><hr><br/>
<div class="container" style="align-items:center;">
  <div class="text-center" style="margin-left:30%; margin-right:30%;">
    <%= form_tag url_for(action: 'create'), method: "post" do %><br/>
      <%= text_area_tag 'email' ,"", class:"form-control", placeholder:"Email" %><br/>
      <%= password_field_tag 'pw' ,"", class:"form-control", placeholder:"Mot de passe" %><br/>
      <%= submit_tag 'Envoyer', class:"btn btn-secondary" %>
    <% end %>
  </div>
</div>